<%= semantic_form_for [:admin, @payment], :builder => ActiveAdmin::FormBuilder do |f|
  f.inputs do
    if @payment.appropriated?
      f.input :amount, required: true, input_html: { maxlength: 10 }
      f.input :additional_info
      f.input :payment_type, as: :hidden
      f.input :payment_method, as: :hidden
      f.input :payment_date, as: :hidden
      f.input :category_id, as: :hidden
      f.input :status, as: :hidden
    elsif params[:teacher_id] || params[:staff_id] || params[:partner_id] || params[:category_id] || session[:limited]
      f.input :amount, required: true, input_html: { maxlength: 10 }
      f.input :payment_method, as: :radio, collection: Payment.payment_methods(current_admin_user.admin?), required: true
      if current_admin_user.super_admin_or_partner?
        f.input :other_account, label: "Account To #{@payment.type_label}", as: :select, collection: CriterionAccount.accounts((@account_holder.criterion_account rescue nil)), required: true, include_blank: false, input_html: { class: 'chosen-select' }
      end
      f.input :additional_info
      f.input :status, as: :hidden
      f.input :category_id, as: :hidden
      f.input :payment_type, as: :hidden
      f.input :payment_date, as: :hidden
      f.input :payable_id, as: :hidden
      f.input :payable_type, as: :hidden
    else
      f.input :period, as: :datepicker, required:  true, hint: 'Only month and year are significant'
      f.input :amount, required: true, input_html: { maxlength: 10 }
      if @payment.credit?
        f.input :category_id, as: :select, collection: Category.categories, required: true, include_blank: true, input_html: { class: 'chosen-select-deselect' }
      else
        f.input :category_id, as: :hidden
      end
      f.input :payment_method, as: :radio, collection: payment.expenditure? ? Payment.payment_methods(true) : Payment.payment_methods, required: true
      if current_admin_user.super_admin_or_partner?
        f.input :other_account, label: "Account To #{@payment.type_label}", as: :select, collection: CriterionAccount.accounts((@account_holder.criterion_account rescue nil)), required: true, include_blank: false, input_html: { class: 'chosen-select' }
      end
      f.input :additional_info
      f.input :status, as: :hidden
      f.input :payment_type, as: :hidden
      f.input :payment_date, as: :hidden
      f.input :payable_id, as: :hidden
      f.input :payable_type, as: :hidden
    end
  end
  
  f.buttons
end %>