// Active Admin CSS Styles
@import "fancybox";
@import "chosen";
@import "active_admin/editor/wysiwyg";
@import "active_admin/mixins";
@import "active_admin/base";

// To customize the Active Admin interfaces, add your
// styles here:

.chosen-select {
	width: 12%
}

th.status {
	text-transform: none;
  letter-spacing: 0px;
}

.btn {
  @include dark-button;
  cursor: pointer;
  text-decoration: none !important;
  color: white !important;
}

.btn:hover {
  background: -moz-linear-gradient(-90deg, #8B9297, #484D51) repeat scroll 0 0 transparent;
  color: #FFFFFF;
}

.dashboard_btn {
  padding:5px 0px;
}

.clear {
  clear: both
}

#find_student {
  width: 700px;
}

p.red {
  color: red !important;
}

#header h1 img {
  top: -12px;
}

.nested_header, .header {
  .arrow.down {
    background: url(image_path('down_arrow.png')) no-repeat 19% 50% transparent !important;
  }
  .arrow.up {
    background: url(image_path('up_arrow.png')) no-repeat 19% 50% transparent !important;
  }

  .arrow.down.nested {
    background: url(image_path('down_arrow.png')) no-repeat 38% 50% transparent !important;
  } 
  .arrow.up.nested {
    background: url(image_path('up_arrow.png')) no-repeat 38% 50% transparent !important; 
  } 
}